#!/usr/bin/env bash
#
# {{ letsencrypt_cmd }}

certbot renew

chown -R root:{{ letsencrypt_group }} {{ letsencrypt_root }}
chmod -R g=rX {{ letsencrypt_root }}

sites="{{ letsencrypt_live }}/*"
for site in $sites; do
  cat "$site/{{ letsencrypt_key }}" "$site/{{ letsencrypt_cert }}" > "$site/{{ letsencrypt_pem }}"
done

systemctl restart lighttpd
{% for service in (letsencrypt.restart | default([])) %}
systemctl restart {{ service }}
{% endfor %}
