AUTHOR = '{{ pelican.author }}'
SITENAME = '{{ pelican.sitename }}'
SITEURL = 'https://{{ pelican.domain }}'

THEME = '{{ pelican_themes_dir }}/{{ pelican.theme }}'
PATH = 'content'
STATIC_PATHS = ['file']

TIMEZONE = 'US/Eastern'
DATE_FORMATS = {'en': '%a %Y-%m-%d'}

DEFAULT_LANG = 'en'

# Feed generation is usually not desired when developing
FEED_ALL_ATOM = 'feeds/all.atom.xml'
FEED_ALL_RSS = 'feeds/all.rss.xml'
CATEGORY_FEED_ATOM = None
TRANSLATION_FEED_ATOM = None
AUTHOR_FEED_ATOM = None
AUTHOR_FEED_RSS = None

# Blogroll
LINKS = (
{% for link in pelican.links | default([]) %}
{% for (text, target) in link.items() %}
  ('{{ text }}', '{{ target }}'),
{% endfor %}
{% endfor %}
)

# Social widget
SOCIAL = (
{% for link in pelican.social | default([]) %}
{% for (text, target) in link.items() %}
  ('{{ text }}', '{{ target }}'),
{% endfor %}
{% endfor %}
)

DEFAULT_PAGINATION = {{ pelican.pagination | default(10) }}

{% if pelican.relative | default(false) %}
# document-relative URLs when developing
RELATIVE_URLS = True
{% endif %}
