{
    "keys": {
        "developer": {}, 
        "personal": {
            "api_key": "{{ secrets.kodi.youtube.key }}", 
            "client_id": "{{ secrets.kodi.youtube.id }}", 
            "client_secret": "{{ secrets.kodi.youtube.secret }}"
        }
    }
}
