---
- name: Create cron script dir
  file:
    path: '{{ cron_dir }}'
    state: directory

- name: Fetch letsencrypt status
  stat:
    path: '{{ letsencrypt_live }}/{{ letsencrypt.domains[0] }}/{{ letsencrypt_pem }}'
  register: letsencrypt_stat
